{% extends "background.html" %}

{% block title %}Welcome to my listening test{% endblock %}
{% block title1 %}Listening test for heavy metal{% endblock %}
{% block title2 %}Introduction{% endblock %}

{% block content2 %}
<p>
    This listening test is to measure the relationship between the type of distortion applied to guitar sounds and the sense of heaviness perceived by the listener. 
</p>
<p>
You will answer a series of questions comparing audio clips of guitar riffs with different distortions and EQs applied, and indicate which one of each pair you think sounds heavier. Currently two well known riffs will be used ("Smoke on the Water - Deep Purple" and "Enter Sandman – Metallica").
</p>
<p>
Before the test, please register on the system to ensure 
<br>1. you have a reliable test environment <br>2. you can save your current work if you want to continue later
</p>

{% endblock %}

{% block title3 %}Statement{% endblock %}

{% block content3 %}
<p>
Your email address is being used as a username so upon registration the system will send you an email containing a password automatically. The system has no direct access to your username and password and we will not use this information or pass it on to other parties.
</p>
<p>
Enjoy the test and the music :)
</p>
{% endblock %}

{% block hyperlink %}

<li class="toctree-l1"><a class="reference internal" href="/info_collection">Start the test</a></li>

{% endblock %}

{% block footer %}
<p>If you have any questions, feel free to contact me via e-mail: <a href="mailto:mincong.zhang@foxmail.com">mincong.zhang@foxmail.com</a>.</p>
<p>Also you can contact:  <a href="mailto:christopher.harte@eecs.qmul.ac.uk">christopher.harte@eecs.qmul.ac.uk</a>.</p>
<p> And <a href="mailto:dawn.black@eecs.qmul.ac.uk">dawn.black@eecs.qmul.ac.uk</a>.</p>
<p>
      	Best regards,<br>
      	Mincong ZHANG
</p>
{% endblock %}
